<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lista dos Usuários</title>
    <link rel="stylesheet" href="css/css.css">
  </head>
  <body>
       <form action="/usuario/novo.html" method="get">
            <input type="submit" value="Adicionar Usuario"/>
        </form>
  </body>
</html>
