<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lista dos Usuários</title>
    <link rel="stylesheet" href="css/css.css">
  </head>
  <body>
       <form  method="POST">
      <input type="text" name="nome" />
      <input type="email" name="email"/>
      <input type="submit" value="Adicionar"/>
      </form>
  </body>
</html>
