<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Novo Usuário</title>
  </head>
  <body>
    <h1>Novo Usuário</h1>
    <form  method="post">
      Nome: <input type="text" name="nome" placeholder="Nome"/> <br><br>
      Email: <input type="email" name="email" placeholder="e-mail"/> <br><br>
      Senha: <input type="password" name="password" placeholder="senha"/> <br><br>
      <input type="submit"/>
      <input type="reset"/>
    </form>
  </body>
</html>
