<html lang="en">
<head>
  <title>Trabalho 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https:ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/css.css">
</head>
<body>
   <%if(usuarioLogado){%>
        Usuário Atual: <%=usuarioLogado.nome%>
		<a class="btn btn-primary" href="/logout.html">Sair</a>
    <%}%>
<center>
    <h3>Cadastrar Interesse</h3>
	  Mercadoria: <%=compras.nome%><br>
	  Preço: <%=compras.preco%>
      
	<form  method="POST">
	<select name="interesse">
		<option value="0">Sem interesse</option>
		<option value="1">Baixo interesse</option>
		<option value="2">Tenho interesse</option>
		<option value="3">Muito interesse</option>
	  </select>
	  <input class="btn btn-primary" type="submit" value="Confirmar"/>
	</form>
  
	<form action="/compras/listarCompras.html" method="get">
	  <input class="btn btn-primary" type="submit" value="Cancelar"/>
	</form>
          
</center>
</body>
</html>
