<html lang="en">
<head>
  <title>Trabalho 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/css.css">
</head>
<body>
   <%if(usuarioLogado){%>
        Usuário Atual: <%=usuarioLogado.nome%>
		<a class="btn btn-primary" href="/logout.html">Sair</a>
    <%}%>
<center>
    <h3>Nova Compra</h3> <br><br>
    <form  method="POST">
      Nome: <input type="text" name="nome" placeholder="Nome"/> <br><br>
      Valor: <input type="number" name="preco_base" placeholder="Valor Base"/> <br><br>
      <input type="hidden" name="somaInteresse" value="0"/>
      <input type="hidden" name="preco" value="0"/>
      <input type="hidden" name="numeroInteresse" value="0"/>
      <input class="btn btn-primary" type="submit" value="Adicionar"/>
    </form>
	
	<a class="btn btn-primary" href="/index.html">Home</a>
</center>
</body>
</html>
