<html lang="en">
<head>
  <title>Trabalho 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https:ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/basic.css">
</head>
<body>
    <%if(usuarioLogado){%>
        <h5>Logado como: <%=usuarioLogado.nome%></h5>
    <%}%>
<center>
    <h3>Nova Compra</h3> <br><br>
    <form  method="POST">
      Nome: <input type="text" name="nome" placeholder="Nome"/> <br><br>
      Valor: <input type="number" name="preco_base" placeholder="Valor Base"/> <br><br>
      <input type="hidden" name="somaInteresse" value="0"/>
      <input type="hidden" name="preco" value="0"/>
      <input type="hidden" name="numeroInteresse" value="0"/>
      <input type="submit" value="Adicionar"/>
      <form action="/compras/listar_compras.html" method="get">
      <input type="submit" value="Cancelar"/>
      </form>
    </form>
</center>
</body>
</html>
