<html lang="en">
<head>
  <title>Trabalho 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <%if(usuarioLogado){%>
        <h5>Logado como: <%=usuarioLogado.nome%></h5>
    <%}%>
    <h1>Nova Compra</h1>
    <form  method="POST">
      <input type="text" name="nome" placeholder="Nome"/>
      <input type="text" name="preco_base" placeholder="Valor Base"/>
      <input type="hidden" name="somaInteresse" value="0"/>
      <input type="hidden" name="preco" value="0"/>
      <input type="hidden" name="numeroInteresse" value="0"/>
      <input type="submit" value="Adicionar"/>
      <input type="reset" value="Limpar Campos"/>
      <form action="/compras/listar_compras.html" method="get">
      <input type="submit" value="Cancelar"/>
      </form>
    </form>
</body>
</html>
