<html lang="en">
<head>
  <title>Trabalho 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https:ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/basic.css">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Trabalho 3</a>
    </div>
    <ul class="nav navbar-nav">
	<% for(var i in principal) {
              var link = principal[i];
          %>
      <li class="active"><a href="<%=link.link%>"><%=link.rota%></a></li>
	  <%}%>

    </ul>
  </div>
</nav>

<%if(usuarioLogado){%>
        Logado como: <%=usuarioLogado.nome%><br>
		<a class="btn btn-primary" href="/logout.html">Logout</a>
    <%}%>

<div class="container">
  <h3>Trabalho de Web - Laboratório 6</h3>
  <p>Este trabalho é referente ao trabalho 3 da disciplina.</p>
</div>

</body>
</html>